@model ASIGNMENT_FPOLY.Models.Product

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

    var listBrand = ViewBag.Brand;
    var listColor = ViewBag.Color;
    var listSize = ViewBag.Size;
}

<div class="notification-toast top-right" id="notification-toast"></div>
<!-- Modal -->
<div class="modal fade" id="modalCapNhat">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center bg-primary">
                <h4 class="modal-title text-white" id="exampleModalLabel">Thông báo</h4>
            </div>
            <div class="modal-body">
                <h5>- Thêm sản phẩm thành công!</h5>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Category</h4>
            </div>
            <div class="modal-body">
                <div class="form-outline">
                    <input type="text" class="form-control" id="nameCategory" placeholder="Name" required />
                </div>
                <div class="form-outline" style="margin-top: 10px">
                    <input type="text" class="form-control" id="title" placeholder="Title" required />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="buton" onclick="SaveCategory()" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div id="preloader"></div>
<div class="main-content">
    <div class="page-header">
        <h2 class="header-title">Profile</h2>
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a href="#" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
                <a class="breadcrumb-item" href="#">Pages</a>
                <span class="breadcrumb-item active">Profile</span>
            </nav>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row align-items-center">
                <div class="col-md-7">
                    <div class="d-md-flex align-items-center">
                        <div class="text-center text-sm-left ">
                            <div class="avatar avatar-image" style="width: 150px; height:150px">
                                <img src="assets/images/avatars/thumb-3.jpg" alt="">
                            </div>
                        </div>
                        <div class="text-center text-sm-left m-v-15 p-l-30">
                            <h2 class="m-b-5">Marshall Nichols</h2>
                            <p class="text-opacity font-size-13">Marshallnich</p>
                            <p class="text-dark m-b-20">Frontend Developer, UI/UX Designer</p>
                            <button class="btn btn-primary btn-tone">Contact</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="d-md-block d-none border-left col-1"></div>
                        <div class="col">
                            <ul class="list-unstyled m-t-10">
                                <li class="row">
                                    <p class="col-sm-4 col-4 font-weight-semibold text-dark m-b-5">
                                        <i class="m-r-10 text-primary anticon anticon-mail"></i>
                                        <span>Email: </span>
                                    </p>
                                    <p class="col font-weight-semibold"> Marshall123@gmail.com</p>
                                </li>
                                <li class="row">
                                    <p class="col-sm-4 col-4 font-weight-semibold text-dark m-b-5">
                                        <i class="m-r-10 text-primary anticon anticon-phone"></i>
                                        <span>Phone: </span>
                                    </p>
                                    <p class="col font-weight-semibold"> +12-123-1234</p>
                                </li>
                                <li class="row">
                                    <p class="col-sm-4 col-5 font-weight-semibold text-dark m-b-5">
                                        <i class="m-r-10 text-primary anticon anticon-compass"></i>
                                        <span>Location: </span>
                                    </p>
                                    <p class="col font-weight-semibold"> Los Angeles, CA</p>
                                </li>
                            </ul>
                            <div class="d-flex font-size-22 m-t-15">
                                <a href="" class="text-gray p-r-20">
                                    <i class="anticon anticon-facebook"></i>
                                </a>
                                <a href="" class="text-gray p-r-20">
                                    <i class="anticon anticon-twitter"></i>
                                </a>
                                <a href="" class="text-gray p-r-20">
                                    <i class="anticon anticon-behance"></i>
                                </a>
                                <a href="" class="text-gray p-r-20">
                                    <i class="anticon anticon-dribbble"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5>Create Product</h5>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Name Product</label>
                        <input type="text" class="form-control" id="nameProduct"
                               placeholder="Name Product">
                    </div>

                    <div class="m-b-15">
                        <label for="formGroupExampleInput">Category</label>
                        <div class="row">
                            <div class="col-11">
                                <select id="category" class="select2" name="state">
                                    @foreach (var item in ViewBag.Category as SelectList)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                            </div>
                            <div class="col-1">
                                <button class="btn btn-icon btn-primary btn-rounded btn-tone" data-toggle="modal" data-target="#exampleModal">
                                    <i class="anticon anticon-plus"></i>
                                </button>
                            </div>
                        </div>

                    </div>


                    <div class="m-b-15">
                        <label for="formGroupExampleInput">Brand</label>
                        <div class="row">
                            <div class="col-11">
                                <select class="select2" id="brand" name="state">
                                    @foreach (var item in listBrand as SelectList)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                            </div>
                            <div class="col-1">
                                <button class="btn btn-icon btn-primary btn-rounded btn-tone">
                                    <i class="anticon anticon-plus"></i>
                                </button>
                            </div>
                        </div>

                    </div>

                    <div>
                        <label for="formGroupExampleInput">Size</label>
                        <div class="row">
                            <div class="col-10">
                                <select id="mySelect2" class="select2 listSize" name="states[]"
                                        multiple="multiple">
                                    @foreach (var item in listSize as SelectList)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                            </div>
                            <div class="col-2">
                                <div class="d-flex">
                                    <button class="btn btn-warning btn-tone m-r-5 ml-3"
                                            onclick="choseAllSize()">
                                        All
                                    </button>
                                    <button class="btn btn-icon btn-primary btn-rounded btn-tone">
                                        <i class="anticon anticon-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <label for="formGroupExampleInput" style="margin-top: 0.9rem;">Color</label>
                        <div class="row">
                            <div class="col-10">
                                <select id="mySelect2-1" class="select2 listColor" name="states[]"
                                        multiple="multiple">
                                    @foreach (var item in listColor as SelectList)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                            </div>
                            <div class="col-2">
                                <div class="d-flex">
                                    <button class="btn btn-warning btn-tone m-r-5 ml-3"
                                            onclick="choseAllColor()">
                                        All
                                    </button>
                                    <button class="btn btn-icon btn-primary btn-rounded btn-tone">
                                        <i class="anticon anticon-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-warning btn-tone" onclick="generate()">Generate</button>
                </div>
            </div>

            <div class="accordion borderless" id="accordion-borderless">
            </div>

            <div> <button onclick="CapNhat()">Creat</button> </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5>Connected</h5>
                    <div class="m-t-30">
                        <div class="d-flex align-items-center">
                            <div class="avatar avatar-image">
                                <img src="assets/images/avatars/thumb-1.jpg" alt="">
                            </div>
                            <div class="m-l-10">
                                <h5 class="m-b-0">
                                    <a href="" class="text-dark">Erin Gonzales</a>
                                </h5>
                                <span class="font-size-13 text-gray">UI/UX Designer</span>
                            </div>
                        </div>
                    </div>
                    <div class="m-t-30">
                        <div class="d-flex align-items-center">
                            <div class="avatar avatar-image">
                                <img src="assets/images/avatars/thumb-2.jpg" alt="">
                            </div>
                            <div class="m-l-10">
                                <h5 class="m-b-0">
                                    <a href="" class="text-dark">Darryl Day</a>
                                </h5>
                                <span class="font-size-13 text-gray">Software Engineer</span>
                            </div>
                        </div>
                    </div>
                    <div class="m-t-30">
                        <div class="d-flex align-items-center">
                            <div class="avatar avatar-image">
                                <img src="assets/images/avatars/thumb-3.jpg" alt="">
                            </div>
                            <div class="m-l-10">
                                <h5 class="m-b-0">
                                    <a href="" class="text-dark">Marshall Nichols</a>
                                </h5>
                                <span class="font-size-13 text-gray">Product Manager</span>
                            </div>
                        </div>
                    </div>
                    <div class="m-t-30">
                        <div class="d-flex align-items-center">
                            <div class="avatar avatar-image">
                                <img src="assets/images/avatars/thumb-6.jpg" alt="">
                            </div>
                            <div class="m-l-10">
                                <h5 class="m-b-0">
                                    <a href="" class="text-dark">Riley Newman</a>
                                </h5>
                                <span class="font-size-13 text-gray">Data Analyst</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5>Projects</h5>
                    <div class="m-t-20">
                        <div class="m-b-20 p-b-20 border-bottom">
                            <div class="media align-items-center m-b-15">
                                <div class="avatar avatar-image">
                                    <img src="assets/images/others/coffee-app-thumb.jpg" alt="">
                                </div>
                                <div class="media-body m-l-20">
                                    <h5 class="m-b-0">
                                        <a href="" class="text-dark">Coffee Finder App</a>
                                    </h5>
                                </div>
                            </div>
                            <p>
                                It is a long established fact that a reader will be distracted by the
                                readable content.
                            </p>
                            <div class="d-inline-block">
                                <a class="m-r-5" data-toggle="tooltip" title="Eugene Jordan" href="">
                                    <div class="avatar avatar-image avatar-sm">
                                        <img src="assets/images/avatars/thumb-6.jpg" alt="">
                                    </div>
                                </a>
                                <a class="m-r-5" data-toggle="tooltip" title="Pamela" href="">
                                    <div class="avatar avatar-image avatar-sm">
                                        <img src="assets/images/avatars/thumb-7.jpg" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="float-right">
                                <span class="badge badge-pill badge-blue font-size-12 p-h-10">
                                    In
                                    Progress
                                </span>
                            </div>
                        </div>
                        <div class="m-b-20 p-b-20 border-bottom">
                            <div class="media align-items-center m-b-15">
                                <div class="avatar avatar-image">
                                    <img src="assets/images/others/weather-app-thumb.jpg" alt="">
                                </div>
                                <div class="media-body m-l-20">
                                    <h5 class="m-b-0">
                                        <a href="" class="text-dark">Weather App</a>
                                    </h5>
                                </div>
                            </div>
                            <p>
                                It is a long established fact that a reader will be distracted by the
                                readable content.
                            </p>
                            <div class="d-inline-block">
                                <a class="m-r-5" data-toggle="tooltip" title="Lillian Stone" href="">
                                    <div class="avatar avatar-image avatar-sm">
                                        <img src="assets/images/avatars/thumb-8.jpg" alt="">
                                    </div>
                                </a>
                                <a class="m-r-5" data-toggle="tooltip" title="Victor Terry" href="">
                                    <div class="avatar avatar-image avatar-sm">
                                        <img src="assets/images/avatars/thumb-9.jpg" alt="">
                                    </div>
                                </a>
                                <a class="m-r-5" data-toggle="tooltip" title="Wilma Young" href="">
                                    <div class="avatar avatar-image avatar-sm">
                                        <img src="assets/images/avatars/thumb-10.jpg" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="float-right">
                                <span class="badge badge-pill badge-cyan font-size-12 p-h-10">Completed</span>
                            </div>
                        </div>
                        <div class="m-b-20 p-b-20 border-bottom">
                            <div class="media align-items-center m-b-15">
                                <div class="avatar avatar-image">
                                    <img src="assets/images/others/music-app-thumb.jpg" alt="">
                                </div>
                                <div class="media-body m-l-20">
                                    <h5 class="m-b-0">
                                        <a href="" class="text-dark">Music App</a>
                                    </h5>
                                </div>
                            </div>
                            <p>
                                Protein, iron, and calcium are some of the nutritional benefits
                                associated with cheeseburgers.
                            </p>
                            <div class="d-inline-block">
                                <a class="m-r-5" data-toggle="tooltip" title="Darryl Day" href="">
                                    <div class="avatar avatar-image avatar-sm">
                                        <img src="assets/images/avatars/thumb-2.jpg" alt="">
                                    </div>
                                </a>
                                <a class="m-r-5" data-toggle="tooltip" title="Virgil Gonzales" href="">
                                    <div class="avatar avatar-image avatar-sm">
                                        <img src="assets/images/avatars/thumb-4.jpg" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="float-right">
                                <span class="badge badge-pill badge-cyan font-size-12 p-h-10">Completed</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var load = $('#preloader');
    window.addEventListener("load", function () {
        load.css('display', 'none');
    })
</script>

<script>
    function SaveCategory() {

        var category = $('#nameCategory').val();
        var title = $('#title').val();
        if (category.trim().length > 0) {
            fetch('/Admin/Categories/CreateCategory', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json' // xác định kiểu dữ liệu của body là JSON
                },
                body: JSON.stringify({
                    Name: category,
                    Title: title,
                    Status: "1"
                })
            })
                .then(response => {
                    if (response.ok) {
                        return response.json;
                    }
                    throw new Error('Network response was not ok.');
                })
                .then(
                    data => {
                        var newOption = new Option(category, data.key, true, true);
                        $('#category').append(newOption).trigger('change');
                        $('#exampleModal').modal('hide');
                        $('#nameCategory').val('');
                        $('#title').val('');
                        var toastHTML = `<div class="toast fade hide" data-delay="3000">
        <div class="toast-header">
            <i class="anticon anticon-info-circle text-primary m-r-5"></i>
            <strong class="mr-auto">Bootstrap</strong>
            <small>11 mins ago</small>
            <button type="button" class="ml-2 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            Hello, world! This is a toast message.
        </div>
    </div>`

                        $('#notification-toast').append(toastHTML)
                        $('#notification-toast .toast').toast('show');
                        setTimeout(function () {
                            $('#notification-toast .toast:first-child').remove();
                        }, 3000);

                    }
                )
                .catch(error => {
                    console.error(error);
                });
        }else{
            var toastHTML = `<div class="toast fade hide" data-delay="3000">
        <div class="toast-header">
            <i class="anticon anticon-info-circle text-primary m-r-5"></i>
            <strong class="mr-auto">Thông báo</strong>
            <small>11 mins ago</small>
            <button type="button" class="ml-2 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            Thao tác chưa được xử lý do trường Name category chưa hợp lệ!
        </div>
    </div>`

            $('#notification-toast').append(toastHTML)
            $('#notification-toast .toast').toast('show');
            setTimeout(function () {
                $('#notification-toast .toast:first-child').remove();
            }, 3000);
        }
        
    }
</script>
<script>
    function generate() {
        var container = document.querySelector('#accordion-borderless');
        var valuesColors = Array.from($('#mySelect2-1 option:checked')).map(option => ({
            value: option.value,
            text: option.text
        }));

        var valuesSizes = Array.from($('#mySelect2 option:checked')).map(option => ({
            value: option.value,
            text: option.text
        }));

        const template = `<div class="card item-accordion" data-update="{{isUpdate}}" data-idproduct="{{idProduct}}">
                                        <div class="card-header d-flex">
                                            <h5 class="card-title">
                                                <a data-toggle="collapse" data-idcolor="{{idcolor}}" data-idsize="{{idsize}}" href="#collapseOneBorderless{{index}}">
                                                    <span>{{Title}}</span>
                                                </a>
                                            </h5>
                                            <button class="btn btn-icon btn-primary btn-rounded btn-tone btnn-close"
                                                style="margin-top: 5px; margin-right: 5px;">
                                                <i class="anticon anticon-close"></i>
                                            </button>
                                        </div>
                                        <div id="collapseOneBorderless{{index}}" class="collapse"
                                            data-parent="#accordion-borderless">
                                            <div class="card-body">
                                                <div class="d-flex">
                                                    <div class="container-file" style="margin-left: 10px; width: 180px;">
                                                        <div class="wrapper-file">
                                                            <div class="image">
                                                                <img class="file-image" src="{{image}}" alt=""
                                                                    style="display: {{display}};">
                                                            </div>
                                                            <div class="content">
                                                                <div class="icon">
                                                                    <i class="fas fa-cloud-upload-alt"></i>
                                                                </div>
                                                                <div class="text">
                                                                    No file chosen, yet!
                                                                </div>
                                                            </div>
                                                            <div class="cancel-btn">
                                                                <i class="fas fa-times"></i>
                                                            </div>
                                                        </div>
                                                        <button onclick="defaultBtnActive(this)" class="custom-btn">Choose a
                                                            file</button>
                                                        <input class="default-btn 1" onchange="onFileSelected(this)"
                                                            type="file" hidden>
                                                    </div>
                                                    <div class="row" style="width: 800px;">
                                                        <div class="form-group col-12">
                                                            <label for="formGroupExampleInput">Mã SKU</label>
                                                            <input type="text" class="form-control"
                                                                id="formGroupExampleInput" placeholder="Mã SKU">
                                                        </div>
                                                        <div class="form-group col-6">
                                                            <label for="formGroupExampleInput">Price</label>
                                                            <input type="text" class="form-control priceTemplate" value = "{{price}}"
                                                                id="formGroupExampleInput" placeholder="Price">
                                                        </div>
                                                        <div class="form-group col-6">
                                                            <label for="formGroupExampleInput">Số lượng</label>
                                                            <input type="text" class="form-control soLuong" value = "{{soLuong}}"
                                                                id="formGroupExampleInput" placeholder="Số lượng">
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="m-b-15" style="margin-top: 20px;">
                                                    <label for="formGroupExampleInput" style="margin-top: 0.9rem;">Mô
                                                        tả</label>
                                                    <div class="editor">
                                                        <p>{{moTa}}</p>
                                                        <p><br></p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
    `;
        let index = 0;
        const ajaxPromises = [];
        for (var i = 0; i < valuesColors.length; i++) {
            for (var j = 0; j < valuesSizes.length; j++) {
                const promise = new Promise((resolve, reject) => {
                    (function (i, j) {
                        $.ajax({
                            url: '/Admin/Products/GetProduct',
                            timeout: 15000,
                            type: 'POST',
                            dataType: 'json',
                            data: {
                                ColorId: valuesColors[i].value,
                                SizeId: valuesSizes[j].value,
                                CategoryId: $('#category').val(),
                                ProductName: $('#nameProduct').val(),
                                BrandId: $('#brand').val()
                            },
                            success: function (result) {
                                if (!result.success) {
                                    let item = template
                                        .replace(/{{Title}}/g, valuesColors[i].text + ' - ' + valuesSizes[j].text)
                                        .replace(/{{index}}/g, index.toString())
                                        .replace(/{{price}}/g, "")
                                        .replace(/{{idsize}}/g, valuesSizes[j].value)
                                        .replace(/{{idcolor}}/g, valuesColors[i].value)
                                        .replace(/{{display}}/g, "none")
                                        .replace(/{{soLuong}}/g, "")
                                        .replace(/{{idProduct}}/g, "")
                                        .replace(/{{image}}/g, '')
                                        .replace(/{{moTa}}/g, '')
                                        .replace(/{{isUpdate}}/g, 'false');
                                    index = index + 1;
                                    container.innerHTML += item;

                                } else {
                                    let item = template
                                        .replace(/{{Title}}/g, valuesColors[i].text + ' - ' + valuesSizes[j].text)
                                        .replace(/{{index}}/g, index.toString())
                                        .replace(/{{price}}/g, result.price)
                                        .replace(/{{display}}/g, "block")
                                        .replace(/{{idsize}}/g, valuesSizes[j].value)
                                        .replace(/{{idcolor}}/g, valuesColors[i].value)
                                        .replace(/{{soLuong}}/g, result.soLuong)
                                        .replace(/{{idProduct}}/g, result.idProduct)
                                        .replace(/{{image}}/g, '/assets/images/others/' + result.image)
                                        .replace(/{{moTa}}/g, result.moTa == null ? "" : result.moTa)
                                        .replace(/{{isUpdate}}/g, 'true');
                                    index = index + 1;
                                    container.innerHTML += item;
                                }
                                resolve(result);
                            },
                            error: function (xhr, status, error) {
                                console.log('Đã xảy ra lỗi. Mã lỗi: ' + xhr.status);
                                console.log('Lỗi: ' + error);
                            }
                        });
                    })(i, j);
                });
                ajaxPromises.push(promise);
            }
        }

        Promise.all(ajaxPromises)
            .then((results) => {
                var closeButtons = document.querySelectorAll('#accordion-borderless .card-header button');
                console.log(closeButtons.length)
                for (let i = 0; i < closeButtons.length; i++) {
                    closeButtons[i].addEventListener('click', function () {
                        const card = this.closest('.card');
                        card.remove();
                    });
                }
                $('.editor').each(function () {
                    new Quill(this, {
                        theme: 'snow'
                    });
                });
            })
            .catch((error) => {
                alert("Error")
            });
    }
</script>

<script>
    function CapNhat() {
        var items = $('.item-accordion');
        var currentIndex = 0;
        var NameProduct = $('#nameProduct').val();
        var BrandId = $('#brand').val();
        var CategoryId = $('#category').val();
        function processNextItem() {
            if (currentIndex >= items.length) {
                $('#modalCapNhat').modal('show');
                setTimeout(function () {
                    location.reload(); // Load lại trang
                }, 1000);
                return;
            }
            var currentItem = items.eq(currentIndex);
            var isUpdate = currentItem.attr('data-update');
            var idProduct = currentItem.data('idproduct');
            var price = currentItem.find('.priceTemplate').val();
            var soLuong = currentItem.find('.soLuong').val();
            var imageInput = currentItem.find('input.default-btn');
            var file = imageInput[0].files[0];
            var ColorId = currentItem.find('a').data('idcolor');
            var SizeId = currentItem.find('a').data('idsize');
            var accordionItem = currentItem.closest('.item-accordion');

            if (isUpdate === 'true') {
                var formData = new FormData();
                formData.append('Id', idProduct);
                formData.append('Price', price);
                formData.append('AvailableQuality', soLuong);
                formData.append('file', file);
                $.ajax({
                    url: '/Admin/Products/UpdateProduct',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        accordionItem.remove();
                        currentIndex++;
                        processNextItem();
                    },
                    error: function () {
                        currentIndex++;
                        processNextItem();
                    }
                });
            } else {
                var formData = new FormData();
                formData.append('Id', idProduct);
                formData.append('Price', price);
                formData.append('AvailableQuality', soLuong);
                formData.append('imageFile', file);
                formData.append('BrandId', BrandId);
                formData.append('CategoryId', CategoryId);
                formData.append('ProductName', NameProduct);
                formData.append('SizeId', SizeId);
                formData.append('ColorId', ColorId);

                $.ajax({
                    url: '/Admin/Products/Create',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        accordionItem.remove();
                        currentIndex++;
                        processNextItem();
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);
                        console.log(status);
                        console.log(error);
                        currentIndex++;
                        processNextItem();
                    }
                });
            }
        }

        processNextItem();
    }
</script>

<script>
    function choseAllSize() {
        var allValues = $('.listSize option').map(function () {
            if ($(this).val() !== "all") {
                return $(this).val();
            }
        }).get();
        $('#mySelect2').val(allValues);
        $('#mySelect2').trigger('change.select2');

    }
    function choseAllColor() {
        var allValues = $('.listColor option').map(function () {
            if ($(this).val() !== "all") {
                return $(this).val();
            }
        }).get();
        $('#mySelect2-1').val(allValues);
        $('#mySelect2-1').trigger('change.select2');

    }
</script>


<script>
    let regExp = /[0-9a-zA-Z\^\&\'\@@\{\}\[\]\,\$\=\!\-\#\(\)\.\%\+\~\_ ]+$/;
    function defaultBtnActive(element) {
        let wrapper = element.parentElement.closest('.container-file');
        let defaultBtn = wrapper.querySelector(".default-btn");
        defaultBtn.click();
    }
    function onFileSelected(element) {
        let wrapperMain = element.closest('.container-file');
        let wrapper = wrapperMain.querySelector('.wrapper-file');
        let cancelBtn = wrapper.querySelector(".cancel-btn i");
        let fileName = wrapper.querySelector(".file-name");
        let img = wrapper.querySelector(".file-image");

        const clearInput = function () {
            element.value = ""; // Xóa giá trị của phần tử <input> để cho phép chọn tệp mới
        };

        const handleFile = function (file) {
            const reader = new FileReader();
            reader.onload = function () {
                const result = reader.result;
                img.src = result;
                wrapper.classList.add("active");
            };
            cancelBtn.addEventListener("click", function () {
                img.src = "";
                wrapper.classList.remove("active");
                img.setAttribute("style", "display: none");
                clearInput(); // Xóa giá trị của phần tử <input> sau khi hủy tệp
            });
            reader.readAsDataURL(file);
            if (element.value) {
                //let valueStore = element.value.match(regExp);
                //fileName.textContent = valueStore;
                img.setAttribute("style", "display: block");
            }
        };

        if (element.files.length > 0) {
            handleFile(element.files[0]);
        } else {
            clearInput(); // Xóa giá trị của phần tử <input> nếu không có tệp được chọn
        }
    };
</script>
<script>
    $(document).ready(function () {
        $('.editor').each(function () {
            new Quill(this, {
                theme: 'snow'
            });
        });
    });
</script>
