@model ASIGNMENT_FPOLY.Models.Category

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <font><a href="#" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i></a> <span class="breadcrumb-item active">Property of Product</span> <a class="breadcrumb-item" asp-action="Index">Category</a><a class="breadcrumb-item" href="#">Detail Category</a></font>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h4>Detail Brand </h4>
        <div class="m-t-25">
            <div id="data-table_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-md-12">
                            <dl class="row">
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Name)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Name)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Title)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Title)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Status)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Status)
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div>
                        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                        <a asp-action="Index">Back to List</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
